pre {
    border-bottom: 1px solid #f2f2f2;
    margin: 5px 0;
    font-family: arial;
    color: #666;
    clear: both;
}

.sg-color-list {
    display: table;
}

.orange {
    background-color: #f1553c;
}

.blue {
    background-color: #65b6f3;
}

.turquoise {
    background-color: #cefff1;
}

.dark-blue {
    background-color: #3f4547;
}

.grey {
    background-color: #dfe2e5;
}

.grey-grad {
    background: linear-gradient(to right, #f1f3f4 , #fff);
    color: black !important;
}

.sg-color-list > li {
    display: table-cell;
    width: 100px;
    height: 100px;
    color: white;
    vertical-align: middle;
    text-align: center;
    font-family: arial;
    border: 10px solid white;
}

.sg-color-list > li:first-child {
    margin-left: 20px;
    border-left: 0;
}

.auth-button {
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}

